.main_window {
    background-color: rgba(25, 25, 30, 0.5);
}
.text {
    color: white;
}
.large_text {
    font-size: 48px;
}
.medium_text {
    font-size: 32px;
}
.small_text {
    font-size: 16px;
}
